body {
  background: #f5f6fa;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.container {
  margin-top: 10%;
}
input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  background-color: #25d366;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}
button:hover {
  background-color: #1ebd5a;
}
