body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  margin: 50px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

#qr-area img {
  border: 4px solid #333;
  border-radius: 10px;
  padding: 10px;
  background: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#result, #status {
  margin-top: 20px;
  font-size: 18px;
}
